/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

a:hover {
    background: none;
    color: #8899FF;
}

input[type="datetime-local"] {
    line-height: 20px;
    height: 20px;
    padding: 0;
}

body {
    background: #FAFAFA;
}

body > header > h1 {
    text-align: center;
    background: #DDDDDD;
    margin: 0;
    padding: 20px 0;
}

body > header > nav > ul {
    text-align: center;
    list-style: none;
    height: 51px;
    background-color: #858585;
}

body > header > nav > ul > li {
    display: inline-block;
    line-height: 50px;
}

body > header > nav > ul > li > a, body > header > nav > ul > li > a:visited {
    color: #DEDEDE;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
}

body > header > nav > ul > li:hover {
    background: #656565;
}

body > header > nav > ul > li > a:hover {
    text-decoration: none;
}