// Place all the styles related to the Laundromats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, body:not(.index) .container, #map-canvas {
    height: 100%;
    width: 100%;
}

#laundromats {
    white-space: nowrap;
}

#map-canvas {
    height: 60%;
}

#addLaundromat {
    position: absolute;
    top: 135px;
    right: 30px;
    z-index: 3;
    width: 50px;
}