@font-face {
    font-family: 'bebas_thin';
    src: font-url('bebasneue_thin.eot');
    src: font-url('bebasneue_thin.eot?#iefix') format('embedded-opentype'),
    font-url('bebasneue_thin.woff2') format('woff2'),
    font-url('bebasneue_thin.woff') format('woff'),
    font-url('bebasneue_thin.ttf') format('truetype'),
    font-url('bebasneue_thin.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_regular';
    src: font-url('bebasneue_regular.eot');
    src: font-url('bebasneue_regular.eot?#iefix') format('embedded-opentype'),
    font-url('bebasneue_regular.woff2') format('woff2'),
    font-url('bebasneue_regular.woff') format('woff'),
    font-url('bebasneue_regular.ttf') format('truetype'),
    font-url('bebasneue_regular.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_bold';
    src: font-url('bebasneue_bold.eot');
    src: font-url('bebasneue_bold.eot?#iefix') format('embedded-opentype'),
    font-url('bebasneue_bold.woff2') format('woff2'),
    font-url('bebasneue_bold.woff') format('woff'),
    font-url('bebasneue_bold.ttf') format('truetype'),
    font-url('bebasneue_bold.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_light';
    src: font-url('bebasneue_light.eot');
    src: font-url('bebasneue_light.eot?#iefix') format('embedded-opentype'),
    font-url('bebasneue_light.woff2') format('woff2'),
    font-url('bebasneue_light.woff') format('woff'),
    font-url('bebasneue_light.ttf') format('truetype'),
    font-url('bebasneue_light.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_book';
    src: font-url('bebasneue_book.eot');
    src: font-url('bebasneue_book.eot?#iefix') format('embedded-opentype'),
    font-url('bebasneue_book.woff2') format('woff2'),
    font-url('bebasneue_book.woff') format('woff'),
    font-url('bebasneue_book.ttf') format('truetype'),
    font-url('bebasneue_book.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family:'Interstate Regular*', Arial, sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    width: 75%;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 1px 1px black;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    border: none;
    font-family: 'bebas_regular', Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;

    &.btn-action {
        background: #009EE3;
    }

    &.btn-valid {
        background: #83C341;
    }
}

.alert {
    display: block;
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    margin: 50px auto 0;
    position: absolute;
    left: 10%;
    border-radius: 5px;
    color: white;
    line-height: 25px;
    z-index: 9;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 20px 15px;
        display: block;
        position: absolute;
        top: -20px;
        right: 30px;
    }

    &.alert-success {
        background: #94CB5C;

        &:before {
            border-color: transparent transparent #94CB5C transparent;
        }
    }
}

.index .alert {
    margin: 115px auto 0;
}

.mt {
    margin-top: 150px;
}

nav {
    display:inline-block;
    background-color: #093F8C;
    position: fixed;
    font-size: 0;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    text-align: justify;

    &:after {
        content: '';
        width: 100%;
        display: inline-block;
    }

    a {
        display: inline-block;
        vertical-align: top;
        width: 25%;

        &:not(:first-of-type) {
            margin-left: -5px;
        }
    }

    img {
        width: 100%;
    }
}

/*EN-TÊTE*/

.logo {
    width: 140px;
    float: right;
    margin-top: -33px;
    margin-right: 16px;
    z-index:2;
}

.fleche {
    width:9%;
    margin-top:0;
    float:left;
}

.retour {
    text-decoration:none;
    color:white;
    position: relative;
    top: 8px;
    left: -7px;
    font-size: 12px;
}

.laveries {
    display:inline-block;
    text-decoration:none;
    left: 27px;
    position: fixed;
    color:white;
    font-size: 12px;
    background-color: #009EE3;
    width: 39px;
}

body:not(.index) header {
    background-color: #0F358E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    z-index:2;
}

h1:not(.index) {
    font-family:'bebas_regular', Arial, sans-serif;
    display: inline-block;
    font-size:18px;
    color:white;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 75px;
}

.header2 {
    background-color: #009EE3;
    height: 39px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: 3px solid white;
    left: 0;
    top: 38px;
}

/*FIN EN-TÊTE*/

.fil {
    width: 100%;
    position: fixed;
    z-index: 1;
}

/* BARRE NOM LAVERIES*/

h2 {
    display:inline-block;
    font-family: 'bebas_regular', Arial, sans-serif;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin: 8px auto 8px 21px;
}

.titre-laveries {
    background-color: #009EE3;
    width: 100%;
    position: relative;
}

#etoiles {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    font-size: 0;
    margin-top: 4px;
}

.etoile {
    width: 28px;
}

body:not(.index) .container {
    padding-top: 80px;
    padding-bottom: 90px;
    box-sizing: border-box;
    overflow: auto;
}

/*Données laveries*/

.icon {
    width:20px;
}

.icon {
    width:20px;
}

.icon {
    width:20px;

    &.jump {
        margin-top: 7px;
    }
}

.laundromatFieldTitles, .laundromatFieldValues {
    margin-top: 20px;
    font-size:12px;
    padding-left: 15px;

    li {
        margin-bottom: 15px;
    }
}

.laundromatFieldTitles {
    color: #009EE3;
    font-weight: bold;
    padding-left: 0;
}

.laundromatFieldValues li:nth-of-type(2) {
    margin-bottom: 1px;
}

h3 {
    color: #009EE3;
    font-size:12px;
}

section p {
    font-size:12px;
}

section ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}